{% extends getPartial('page-design') %}

    {% block PageBody %}

        <div class="basket-test-block">
            <span class="text">Test text inside the basket block</span>
        </div>

    {% endblock %}